In [6]:
%load_ext autoreload
%autoreload 1 
%aimport game

from game import Game
from team import Team
from utility import headers

from collections import defaultdict
import datetime
import requests
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm
import numpy as np
from itertools import combinations

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
g = Game(3970331,source='file')

In [217]:
base_schedule = "https://stats.ncaa.org/season_divisions/18220/livestream_scoreboards?utf8=%E2%9C%93&season_division_id="

In [3]:
d1Teams = pd.read_csv("./Data/ncaa_synergy_id_names_map_2023_2024.csv").ncaaName.tolist()
'UConn' in d1Teams

True

In [538]:
seasonStartDate = datetime.date(2023, 11, 6)
today = datetime.date(2023, 11, 9)#datetime.date.today()
date_list = [seasonStartDate + datetime.timedelta(days=x) for x in range( (today - seasonStartDate).days +1 )]

In [196]:
r = requests.get(base_schedule, headers=headers)

In [197]:
soup = BeautifulSoup(r.text)

In [7]:
x = pd.read_csv("games_2023_2024.csv", parse_dates=['date'])
x.date = x.date.dt.date

In [539]:
gameIds = [tag['href'] for tag in soup.find_all('a', string='Box Score')]
gameIds = [link.split('/')[2] for link in gameIds]

In [540]:
date = date_list[-1]

In [541]:
date

datetime.date(2023, 11, 9)

In [551]:
r = requests.get(base_schedule + f"&game_date={date.month}%2F{date.day}%2F{date.year}", headers=headers)
    
if r.status_code != 200:
    raise Exception(f"Request for {date} was not successful")
else:
    soup = BeautifulSoup(r.text)
    teamTags = soup.find_all('td', attrs={'class':'opponents_min_width'})
    gameIds = [tag['href'] for tag in soup.find_all('a', string='Box Score')]
    gameIds = [link.split('/')[2] for link in gameIds]

    cancelledGames = soup.find_all('div',attrs={'class':'table-responsive'})
    cancelledGames = [ix for ix, game in enumerate(cancelledGames) if 'Canceled' in game.text]

    names1 = []
    names2 = []
    ids1 = []
    ids2 = []

    for i, tag in enumerate(teamTags):
        name = tag.text.strip()
        
        
        if len(tag.contents) > 1:
            teamid = tag.contents[1]['href']
            teamid = teamid.split('/')[-1]
            name = "(".join(name.split(' (')[:-1]) # Get rid of record attached to team name
        else:
            teamid = None
        
        if i % 2 == 0:
            names1.append(name)
            ids1.append(teamid)
        else:
            names2.append(name)
            ids2.append(teamid)

    for cancelled in cancelledGames:
        names1.pop(cancelled)
        ids1.pop(cancelled)
        names2.pop(cancelled)
        ids2.pop(cancelled)
    
    schedule = pd.DataFrame({'teamName1':names1, 'teamId1':ids1, 'teamName2':names2, 'teamId2':ids2, 'gameId': gameIds})
    schedule['date'] = seasonStartDate

In [543]:
a = soup.find_all('div',attrs={'class':'table-responsive'})

In [546]:
[ix for ix, game in enumerate(a) if 'Canceled' in game.text]

[14]

In [116]:
schedule.to_csv('games_2023_2024.csv', index=False)

In [301]:
games = []
for row in tqdm(schedule.itertuples()):
    if row.teamName1 in d1Teams and row.teamName2 in d1Teams:
        games.append(Game(row.gameId, source='file'))

30it [00:27,  1.09it/s]

In [240]:
playerBoxScores = pd.DataFrame()

for game in tqdm(games):
    for teamid, box in game.boxScore.items():
        stats = box.iloc[:-2].copy()
        stats['Team ID'] = teamid
        stats['Opponent ID'] = [team for team in game.teams if team != teamid][0]
        stats['Game ID'] = game.gameId
        playerBoxScores = pd.concat([playerBoxScores, stats])

100%|██████████| 25/25 [00:00<00:00, 424.88it/s]

In [241]:
playerBoxScores

,#,Name,P,MP,GS,FGM,FGA,3FG,3FGA,FT,...,AST,TO,STL,BLK,PF,DQ,Tech Fouls,Team ID,Opponent ID,Game ID
0,20.0,Brooke Berry,G,6:01,0,0,3,0,1,0,...,0,1,0,0,0,0,0,560912,560627,3970332
1,13.0,Drea Brumfield,G,2:53,0,0,0,0,0,0,...,0,0,0,1,0,0,0,560912,560627,3970332
2,15.0,Isobel Bunyan,G,24:13,0,7,12,1,3,0,...,2,2,3,0,1,0,0,560912,560627,3970332
3,21.0,Lexi Deden,F,25:06,1,1,8,0,0,5,...,0,3,1,2,2,0,0,560912,560627,3970332
4,32.0,Marah Dykstra,F,24:07,1,2,9,0,2,2,...,4,1,0,1,4,0,0,560912,560627,3970332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,14.0,Marina Hernandez,F,2:40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,561073,560653,3970347
4,20.0,Aya Kéita,G,22:51,0,2,6,2,5,0,...,1,1,3,0,2,0,0,561073,560653,3970347
5,1.0,Luana Leite,G,28:16,1,1,5,0,0,2,...,2,5,1,0,3,0,0,561073,560653,3970347
6,22.0,Paula Tirado,G,16:36,0,2,4,2,3,0,...,1,1,0,0,4,0,0,561073,560653,3970347
7,12.0,Freja Werth,G,33:08,1,3,9,2,8,1,...,2,1,0,0,2,0,0,561073,560653,3970347

In [302]:
teamBoxScores = pd.DataFrame()

for game in tqdm(games):
    for teamid, box in game.boxScore.items():
        stats = box.iloc[-1].copy()
        stats['teamId'] = teamid
        stats['opponentId'] = [team for team in game.teams if team != teamid][0]
        stats['gameId'] = game.gameId
        teamBoxScores = pd.concat([teamBoxScores, stats.to_frame().T])
teamBoxScores = teamBoxScores.drop(columns=['#', 'P'])
teamBoxScores = teamBoxScores.reset_index(drop=True)

100%|██████████| 25/25 [00:00<00:00, 85.14it/s]

In [338]:
teamBoxScores.head()

,Name,MP,GS,FGM,FGA,3FG,3FGA,FT,FTA,PTS,...,AST,TO,STL,BLK,PF,DQ,Tech Fouls,teamId,opponentId,gameId
0,Montana St.,200:00,1,20,61,6,19,14,21,60,...,14,12,13,4,23,0,0,560912,560627,3970332
1,BYU,200:00,1,21,49,8,21,18,28,68,...,10,22,10,2,18,0,0,560627,560912,3970332
2,Penn St.,200:00,1,35,59,12,25,12,17,94,...,22,19,15,6,16,0,0,561013,560634,3954316
3,Bucknell,200:00,1,17,48,6,19,11,18,51,...,11,26,10,2,13,0,0,560634,561013,3954316
4,Bowling Green,200:00,1,33,59,12,21,11,23,89,...,21,15,7,3,23,0,0,560623,560681,3970327

In [118]:
games[7].gameId

'3970331'

In [2]:
g = Game(3970331)

In [342]:
schedule.columns

Index(['teamName1', 'teamId1', 'teamName2', 'teamId2', 'gameId', 'date'], dtype='object')

In [340]:
pd.DataFrame(columns=['Name', 'MP', 'GS', 'FGM', 'FGA', '3FG', '3FGA', 'FT', 'FTA',
       'PTS', 'ORebs', 'DRebs', 'Tot Reb', 'AST', 'TO', 'STL', 'BLK', 'PF',
       'DQ', 'Tech Fouls', 'Team ID', 'Opponent ID', 'Game ID'])

Empty DataFrame
Columns: [Name, MP, GS, FGM, FGA, 3FG, 3FGA, FT, FTA, PTS, ORebs, DRebs, Tot Reb, AST, TO, STL, BLK, PF, DQ, Tech Fouls, Team ID, Opponent ID, Game ID]
Index: []

[0 rows x 23 columns]

In [447]:
lineupData = defaultdict(lambda: defaultdict(int))


for g in games:
    lineupData = defaultdict(lambda: defaultdict(int))
    ends = np.where([item.isPossessionEnding for item in g.pbp.items])[0]+1
    poss = np.split(g.pbp.items,ends)



    for p in poss:
        # Event occurances for each team during the possession
        x = {team:[e.eventType if e.team==team else -1*e.eventType if e.team else None for e in p ] for team in g.teams}
        if any([ any(events) for events in x.values() ]):
            for team in g.teams:
                # Count the number of occurances for each event type while lineups where on the floor
                for lineup in list(combinations(p[-1].currentLineups[team],1)):
                    for pt in x[team]:
                        lineupData[lineup[0]][pt] += 1
                    lineupData[lineup[0]]['poss'] += 1
    possessions = sum([ any(e.team for e in p) for p in poss ]) / 2
    print(possessions)
    for team in g.teams:
        print(sum([v['poss'] for v in {k:v for k,v in dict(lineupData).items() if k[0] in g.boxScore[team].Name.tolist()}.values()])/10)
    print('_____')

77.0
0.0
0.0
_____
77.5
0.0
0.0
_____
73.5
0.0
0.0
_____
70.5
0.0
0.0
_____
64.0
0.0
0.0
_____
73.5
0.0
0.0
_____
77.5
0.0
0.0
_____
80.5
0.0
0.0
_____
74.0
0.0
0.0
_____
66.0
0.0
0.0
_____
78.5
0.0
0.0
_____
65.0
0.0
0.0
_____
69.5
0.0
0.0
_____
64.5
0.0
0.0
_____
73.0
0.0
0.0
_____
68.5
0.0
0.0
_____
73.0
0.0
0.0
_____
70.0
0.0
0.0
_____
72.0
0.0
0.0
_____
71.5
0.0
0.0
_____
64.5
0.0
0.0
_____
79.5
0.0
0.0
_____
93.0
0.0
0.0
_____
71.5
0.0
0.0
_____
83.5
0.0
0.0
_____

In [307]:
g.teams

['560971', '560599']

In [317]:
g=games[3]
g.gameId

'3970328'

In [318]:
ends = np.where([item.isPossessionEnding for item in g.pbp.items])[0]+1
poss = np.split(g.pbp.items,ends)
possessions = sum([ any(e.team for e in p) for p in poss ]) / 2
possessions

70.5

In [ ]:
for q in g.pbp.items:
    print(q.description)

In [322]:
g.teams

['561051', '561039']

In [336]:
lineupData = defaultdict(lambda: defaultdict(int), df.T.to_dict())#defaultdict(lambda: defaultdict(int))




for p in poss:
    # Event occurances for each team during the possession
    x = {team:[e.eventType if e.team==team else -1*e.eventType if e.team else None for e in p ] for team in g.teams}
    if any([ any(events) for events in x.values() ]):
        for team in g.teams:
            # Count the number of occurances for each event type while lineups where on the floor
            
            for lineup in list(combinations(p[-1].currentLineups[team],1)):
                for pt in x[team]:
                    lineupData[lineup][pt] += 1
                lineupData[lineup]['poss'] += 1
                
            
            if sum([v for v in {k:v['poss'] for k,v in dict(lineupData).items() if k[0] in g.boxScore[g.teams[0]].Name.tolist()}.values()])==673:
                breaka
            if len(p[-1].currentLineups['561051'])<5:
                breaka
        prev = p

        #print(len(set(p[-1].currentLineups["561039"])))

In [321]:
for e in p:
    print(e.description, e.currentLineups)

jumpball startperiod {'561051': ['Sajada Bonner', 'Sierra Johnson', "Ny'Ceara Pryor", 'Olivia Tucker', 'Kelsey Wood'], '561039': ['Dee Dee Davis', 'Teisha Hyman', 'Tenin Magassa', 'Sophie Phillips', 'Mayé Touré']}
period start {'561051': ['Sajada Bonner', 'Sierra Johnson', "Ny'Ceara Pryor", 'Olivia Tucker', 'Kelsey Wood'], '561039': ['Dee Dee Davis', 'Teisha Hyman', 'Tenin Magassa', 'Sophie Phillips', 'Mayé Touré']}
game start {'561051': ['Sajada Bonner', 'Sierra Johnson', "Ny'Ceara Pryor", 'Olivia Tucker', 'Kelsey Wood'], '561039': ['Dee Dee Davis', 'Teisha Hyman', 'Tenin Magassa', 'Sophie Phillips', 'Mayé Touré']}
Tenin Magassa, jumpball won {'561051': ['Sajada Bonner', 'Sierra Johnson', "Ny'Ceara Pryor", 'Olivia Tucker', 'Kelsey Wood'], '561039': ['Dee Dee Davis', 'Teisha Hyman', 'Tenin Magassa', 'Sophie Phillips', 'Mayé Touré']}
Kelsey Wood, jumpball lost {'561051': ['Sajada Bonner', 'Sierra Johnson', "Ny'Ceara Pryor", 'Olivia Tucker', 'Kelsey Wood'], '561039': ['Dee Dee Davis', 'Teisha Hyman', 'Tenin Magassa', 'Sophie Phillips', 'Mayé Touré']}
Teisha Hyman, 2pt jumpshot made {'561051': ['Sajada Bonner', 'Sierra Johnson', "Ny'Ceara Pryor", 'Olivia Tucker', 'Kelsey Wood'], '561039': ['Dee Dee Davis', 'Teisha Hyman', 'Tenin Magassa', 'Sophie Phillips', 'Mayé Touré']}

In [325]:
playerposs = {k:v['poss'] for k,v in dict(lineupData).items() if k[0] in g.boxScore[g.teams[1]].Name.tolist()}

In [337]:
{k:v['poss'] for k,v in dict(lineupData).items()}

{('Sajada Bonner',): 130.0,
 ('Sierra Johnson',): 148.0,
 ("Ny'Ceara Pryor",): 196.0,
 ('Olivia Tucker',): 210.0,
 ('Kelsey Wood',): 94.0,
 ('Dee Dee Davis',): 164.0,
 ('Teisha Hyman',): 168.0,
 ('Tenin Magassa',): 164.0,
 ('Sophie Phillips',): 192.0,
 ('Mayé Touré',): 138.0,
 ('Ciara Brannon',): 72.0,
 ('Amelia Wood',): 196.0,
 ('Hawa Komara',): 114.0,
 ('Ines Debroise',): 140.0,
 ('Sophia Vital',): 94.0,
 ('Anaelle Dutat',): 122.0,
 ('Nalyce Dudley',): 28.0,
 ('Emma Kirby',): 116.0,
 ('Faith Pappas',): 86.0,
 ('Thai Davis',): 52.0,
 ('Eva DeChent',): 62.0,
 ('Afia Owusu-Mensah',): 62.0,
 ('Sophie Sene',): 26.0,
 ('Katie Ledden',): 26.0,
 ('Montana Hicks',): 20.0}

In [285]:
playerposs

{('Ioanna Krimili',): 110,
 ('Kemery Martin',): 108,
 ('Leilani McIntosh',): 130,
 ('Marta Suárez',): 78,
 ('McKayla Williams',): 103,
 ('Mia Mastrov',): 80,
 ('Ugonne Onyiah',): 24,
 ('Ila Lane',): 13,
 ('Alma Elsnitz',): 4}

In [345]:
d = {'a':1,'b':2,'c':3}
pd.DataFrame(d.items(), columns=)

   0  1
0  a  1
1  b  2
2  c  3

In [432]:
teams_dict = {'a':{'rating':[1, 2], 'poss':[40, 20]}, 'b':{'rating':[.9, .95], 'poss':[40, 45]}}

In [388]:
df

  teamid adjOff adjDef possOff possDef  date
0      a      1      1      40      40     1
1      b    0.9    0.9      40      40     1

In [434]:
{team['teamid']:{'rating':[team['adjOff'],team['adjDef']], 'poss':[team['possOff'],team['possDef']]} for team in df.to_dict(orient='records')}

{'a': {'rating': [1, 2], 'poss': [40, 20]},
 'b': {'rating': [0.9, 0.95], 'poss': [40, 45]}}

In [398]:
teams_dict

{'a': {'rating': [1, 1], 'poss': [40, 40]},
 'b': {'rating': [0.9, 0.9], 'poss': [40, 40]}}

[{'teamid': 'a',
  'adjOff': 1,
  'adjDef': 1,
  'possOff': 40,
  'possDef': 40,
  'date': 1},
 {'teamid': 'b',
  'adjOff': 0.9,
  'adjDef': 0.9,
  'possOff': 40,
  'possDef': 40,
  'date': 1}]

In [435]:
pd.DataFrame(teams_dict)

               a            b
rating    [1, 2]  [0.9, 0.95]
poss    [40, 20]     [40, 45]

In [465]:
df = pd.DataFrame(teams_dict)
df = df.explode(df.columns.tolist()).T
df.reset_index(inplace=True)
df['date'] = 1
df.columns = ['teamid','adjOff','adjDef','possOff','possDef','date']

In [466]:
df

  teamid adjOff adjDef possOff possDef  date
0      a      1      2      40      20     1
1      b    0.9   0.95      40      45     1

In [284]:
posscount = sum([v for v in playerposs.values()])
posscount

650

In [281]:
possessions

67.5

In [417]:
df =pd.DataFrame(columns=[ 'poss', 1,   -1,   2,  -2,   3,   -3,   4,  -4,   5,   -5,   6,  -6,   7,  -7,
         8,  -8,   9,  -9,  10,  -10,  11, -11,  12,  -12,  13, -13,  14,  -14,
        15,  -15,  16,  -16,  17, -17,  18, -18])

In [448]:
df = pd.DataFrame(dict(lineupData)).T
m = defaultdict(lambda: defaultdict(int), df.T.to_dict())

In [449]:
df.to_csv('a.csv')

In [458]:
m.rename(columns={m.columns[0]:None})

,None,1,-1,3,-9,poss,10,-10,-18,-2,...,12,-13,5,-12,-11,17,2,-14,-19,11
Debora Dos Santos,11.0,1.0,1.0,14.0,20.0,119.0,28.0,28.0,9.0,2.0,...,8.0,13.0,13.0,4.0,2.0,2.0,1.0,1.0,NaN,NaN
Cami Fulcher,9.0,1.0,1.0,16.0,23.0,129.0,25.0,25.0,8.0,5.0,...,8.0,12.0,13.0,3.0,NaN,1.0,1.0,2.0,NaN,NaN
Jasmine Gayles,11.0,1.0,1.0,18.0,30.0,162.0,35.0,35.0,10.0,5.0,...,10.0,15.0,16.0,5.0,3.0,2.0,1.0,2.0,NaN,NaN
Luana Leite,9.0,1.0,1.0,13.0,20.0,121.0,28.0,28.0,10.0,2.0,...,8.0,12.0,12.0,4.0,2.0,2.0,1.0,1.0,NaN,NaN
Freja Werth,11.0,1.0,1.0,15.0,25.0,135.0,30.0,30.0,6.0,4.0,...,6.0,10.0,12.0,4.0,2.0,2.0,1.0,2.0,NaN,NaN
Skylar Burke,9.0,1.0,1.0,14.0,19.0,118.0,23.0,23.0,9.0,1.0,...,3.0,11.0,18.0,9.0,NaN,2.0,5.0,2.0,3.0,2.0
Anya Choice,9.0,1.0,1.0,10.0,15.0,85.0,20.0,20.0,5.0,1.0,...,3.0,12.0,9.0,5.0,NaN,1.0,2.0,3.0,3.0,2.0
Flora Goed,7.0,1.0,1.0,12.0,19.0,100.0,21.0,21.0,8.0,1.0,...,3.0,14.0,13.0,5.0,NaN,2.0,4.0,3.0,1.0,1.0
Alyssa Marin,7.0,1.0,1.0,12.0,17.0,97.0,21.0,21.0,6.0,1.0,...,3.0,16.0,12.0,5.0,NaN,2.0,1.0,3.0,2.0,NaN
Alexis Whitfield,9.0,1.0,1.0,13.0,19.0,118.0,23.0,23.0,7.0,1.0,...,4.0,18.0,18.0,7.0,NaN,2.0,2.0,3.0,2.0,1.0
Paula Tirado,1.0,NaN,NaN,6.0,16.0,67.0,12.0,12.0,3.0,3.0,...,5.0,5.0,4.0,2.0,2.0,NaN,NaN,2.0,NaN,NaN
Olivia Bradley,4.0,NaN,NaN,6.0,10.0,68.0,19.0,19.0,7.0,NaN,...,2.0,8.0,10.0,5.0,NaN,NaN,3.0,1.0,3.0,3.0
Aya Kéita,3.0,NaN,NaN,8.0,19.0,92.0,20.0,20.0,4.0,4.0,...,5.0,8.0,8.0,3.0,3.0,1.0,NaN,NaN,NaN,NaN
Jessica Grant,2.0,NaN,NaN,8.0,17.0,93.0,23.0,23.0,10.0,NaN,...,3.0,14.0,14.0,4.0,NaN,NaN,3.0,3.0,2.0,2.0
Mary McMorris,6.0,NaN,NaN,10.0,16.0,103.0,20.0,20.0,8.0,NaN,...,3.0,13.0,20.0,7.0,NaN,1.0,4.0,1.0,2.0,3.0
Laurel Rockwood,2.0,NaN,NaN,5.0,6.0,39.0,8.0,8.0,2.0,NaN,...,1.0,4.0,6.0,3.0,NaN,NaN,NaN,1.0,2.0,1.0
Zoe Borter,NaN,NaN,NaN,NaN,2.0,14.0,2.0,2.0,3.0,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Marina Hernandez,NaN,NaN,NaN,NaN,2.0,10.0,2.0,2.0,NaN,NaN,...,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [454]:
m = pd.read_csv('a.csv', index_col=0)
m.columns[0] = None
m.T.to_dict()

TypeError: Index does not support mutable operations

In [429]:
df.T.to_dict()

{('Sajada Bonner',): {None: 14.0,
  -1: 2.0,
  1: 2.0,
  -5: 42.0,
  'poss': 130.0,
  5: 4.0,
  -4: 10.0,
  -8: 8.0,
  -7: 24.0,
  3: 32.0,
  -9: 26.0,
  -10: 30.0,
  10: 30.0,
  18: 16.0,
  -19: 8.0,
  9: 16.0,
  13: 22.0,
  -6: 2.0,
  14: 2.0,
  -15: 38.0,
  15: 20.0,
  -16: 38.0,
  16: 20.0,
  8: 16.0,
  -3: 6.0,
  12: 6.0,
  -13: 6.0,
  -12: 12.0,
  -18: 12.0,
  4: 10.0,
  -2: 8.0,
  17: 2.0,
  11: nan,
  7: nan,
  6: nan,
  -17: nan,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Sierra Johnson',): {None: 18.0,
  -1: 2.0,
  1: 2.0,
  -5: 28.0,
  'poss': 148.0,
  5: 14.0,
  -4: 12.0,
  -8: 14.0,
  -7: 22.0,
  3: 24.0,
  -9: 30.0,
  -10: 42.0,
  10: 42.0,
  18: 12.0,
  -19: 4.0,
  9: 28.0,
  13: 22.0,
  -6: 8.0,
  14: 2.0,
  -15: 44.0,
  15: 48.0,
  -16: 44.0,
  16: 48.0,
  8: 16.0,
  -3: 26.0,
  12: nan,
  -13: 6.0,
  -12: 12.0,
  -18: 8.0,
  4: 22.0,
  -2: 6.0,
  17: nan,
  11: 2.0,
  7: 6.0,
  6: 2.0,
  -17: 4.0,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ("Ny'Ceara Pryor",): {None: 22.0,
  -1: 2.0,
  1: 2.0,
  -5: 46.0,
  'poss': 196.0,
  5: 12.0,
  -4: 16.0,
  -8: 14.0,
  -7: 32.0,
  3: 38.0,
  -9: 36.0,
  -10: 42.0,
  10: 42.0,
  18: 20.0,
  -19: 10.0,
  9: 36.0,
  13: 36.0,
  -6: 6.0,
  14: 4.0,
  -15: 56.0,
  15: 38.0,
  -16: 56.0,
  16: 38.0,
  8: 22.0,
  -3: 24.0,
  12: 6.0,
  -13: 10.0,
  -12: 22.0,
  -18: 10.0,
  4: 20.0,
  -2: 14.0,
  17: 2.0,
  11: 2.0,
  7: 4.0,
  6: 2.0,
  -17: nan,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Olivia Tucker',): {None: 22.0,
  -1: 2.0,
  1: 2.0,
  -5: 48.0,
  'poss': 210.0,
  5: 12.0,
  -4: 16.0,
  -8: 14.0,
  -7: 34.0,
  3: 40.0,
  -9: 42.0,
  -10: 48.0,
  10: 48.0,
  18: 24.0,
  -19: 8.0,
  9: 40.0,
  13: 36.0,
  -6: 6.0,
  14: 4.0,
  -15: 64.0,
  15: 48.0,
  -16: 64.0,
  16: 48.0,
  8: 22.0,
  -3: 30.0,
  12: 4.0,
  -13: 10.0,
  -12: 20.0,
  -18: 10.0,
  4: 24.0,
  -2: 8.0,
  17: 2.0,
  11: 2.0,
  7: 4.0,
  6: 2.0,
  -17: nan,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Kelsey Wood',): {None: 18.0,
  -1: 2.0,
  1: 2.0,
  -5: 24.0,
  'poss': 94.0,
  5: 6.0,
  -4: 10.0,
  -8: 14.0,
  -7: 20.0,
  3: 18.0,
  -9: 22.0,
  -10: 28.0,
  10: 28.0,
  18: 12.0,
  -19: 2.0,
  9: 14.0,
  13: 14.0,
  -6: 4.0,
  14: 2.0,
  -15: 30.0,
  15: 36.0,
  -16: 30.0,
  16: 36.0,
  8: 12.0,
  -3: 14.0,
  12: nan,
  -13: 4.0,
  -12: 8.0,
  -18: 2.0,
  4: 16.0,
  -2: 2.0,
  17: nan,
  11: nan,
  7: nan,
  6: nan,
  -17: nan,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Dee Dee Davis',): {None: 22.0,
  -1: 2.0,
  1: 2.0,
  -5: 12.0,
  'poss': 164.0,
  5: 34.0,
  -4: 24.0,
  -8: 20.0,
  -7: 4.0,
  3: 26.0,
  -9: 30.0,
  -10: 38.0,
  10: 38.0,
  18: 12.0,
  -19: nan,
  9: 28.0,
  13: 8.0,
  -6: 2.0,
  14: nan,
  -15: 46.0,
  15: 44.0,
  -16: 46.0,
  16: 44.0,
  8: 14.0,
  -3: 24.0,
  12: 18.0,
  -13: 30.0,
  -12: 2.0,
  -18: 16.0,
  4: 14.0,
  -2: nan,
  17: 2.0,
  11: nan,
  7: 28.0,
  6: 6.0,
  -17: nan,
  19: 6.0,
  -11: 2.0,
  2: 12.0,
  -14: 2.0},
 ('Teisha Hyman',): {None: 22.0,
  -1: 2.0,
  1: 2.0,
  -5: 8.0,
  'poss': 168.0,
  5: 40.0,
  -4: 24.0,
  -8: 16.0,
  -7: 4.0,
  3: 24.0,
  -9: 26.0,
  -10: 40.0,
  10: 40.0,
  18: 12.0,
  -19: nan,
  9: 36.0,
  13: 8.0,
  -6: 2.0,
  14: nan,
  -15: 48.0,
  15: 50.0,
  -16: 48.0,
  16: 50.0,
  8: 18.0,
  -3: 28.0,
  12: 14.0,
  -13: 26.0,
  -12: 4.0,
  -18: 18.0,
  4: 14.0,
  -2: nan,
  17: 4.0,
  11: nan,
  7: 30.0,
  6: 6.0,
  -17: 2.0,
  19: 6.0,
  -11: 2.0,
  2: 10.0,
  -14: 4.0},
 ('Tenin Magassa',): {None: 18.0,
  -1: 2.0,
  1: 2.0,
  -5: 14.0,
  'poss': 164.0,
  5: 40.0,
  -4: 20.0,
  -8: 18.0,
  -7: 4.0,
  3: 18.0,
  -9: 26.0,
  -10: 32.0,
  10: 32.0,
  18: 8.0,
  -19: nan,
  9: 26.0,
  13: 8.0,
  -6: 2.0,
  14: nan,
  -15: 32.0,
  15: 40.0,
  -16: 32.0,
  16: 40.0,
  8: 16.0,
  -3: 24.0,
  12: 20.0,
  -13: 28.0,
  -12: 4.0,
  -18: 18.0,
  4: 16.0,
  -2: nan,
  17: nan,
  11: nan,
  7: 28.0,
  6: 8.0,
  -17: 4.0,
  19: 8.0,
  -11: 2.0,
  2: 12.0,
  -14: 2.0},
 ('Sophie Phillips',): {None: 22.0,
  -1: 2.0,
  1: 2.0,
  -5: 12.0,
  'poss': 192.0,
  5: 42.0,
  -4: 28.0,
  -8: 22.0,
  -7: 2.0,
  3: 28.0,
  -9: 36.0,
  -10: 32.0,
  10: 32.0,
  18: 4.0,
  -19: nan,
  9: 44.0,
  13: 8.0,
  -6: 2.0,
  14: nan,
  -15: 38.0,
  15: 54.0,
  -16: 38.0,
  16: 54.0,
  8: 14.0,
  -3: 38.0,
  12: 18.0,
  -13: 30.0,
  -12: 6.0,
  -18: 16.0,
  4: 18.0,
  -2: nan,
  17: nan,
  11: nan,
  7: 34.0,
  6: 8.0,
  -17: 2.0,
  19: 4.0,
  -11: nan,
  2: 10.0,
  -14: 4.0},
 ('Mayé Touré',): {None: 22.0,
  -1: 2.0,
  1: 2.0,
  -5: 8.0,
  'poss': 138.0,
  5: 36.0,
  -4: 16.0,
  -8: 14.0,
  -7: nan,
  3: 22.0,
  -9: 24.0,
  -10: 30.0,
  10: 30.0,
  18: 8.0,
  -19: nan,
  9: 24.0,
  13: 4.0,
  -6: nan,
  14: nan,
  -15: 32.0,
  15: 30.0,
  -16: 32.0,
  16: 30.0,
  8: 14.0,
  -3: 22.0,
  12: 14.0,
  -13: 26.0,
  -12: 4.0,
  -18: 16.0,
  4: 12.0,
  -2: nan,
  17: 2.0,
  11: nan,
  7: 26.0,
  6: 4.0,
  -17: 2.0,
  19: 6.0,
  -11: nan,
  2: 10.0,
  -14: 4.0},
 ('Ciara Brannon',): {None: 4.0,
  -1: nan,
  1: nan,
  -5: 12.0,
  'poss': 72.0,
  5: 4.0,
  -4: 6.0,
  -8: nan,
  -7: 6.0,
  3: 18.0,
  -9: 14.0,
  -10: 14.0,
  10: 14.0,
  18: 4.0,
  -19: 2.0,
  9: 18.0,
  13: 16.0,
  -6: nan,
  14: 2.0,
  -15: 26.0,
  15: 14.0,
  -16: 26.0,
  16: 14.0,
  8: 6.0,
  -3: 12.0,
  12: 4.0,
  -13: 4.0,
  -12: 6.0,
  -18: 4.0,
  4: 2.0,
  -2: 4.0,
  17: nan,
  11: 2.0,
  7: nan,
  6: nan,
  -17: 2.0,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Amelia Wood',): {None: 14.0,
  -1: nan,
  1: nan,
  -5: 38.0,
  'poss': 196.0,
  5: 12.0,
  -4: 16.0,
  -8: 14.0,
  -7: 22.0,
  3: 38.0,
  -9: 40.0,
  -10: 56.0,
  10: 56.0,
  18: 18.0,
  -19: 8.0,
  9: 34.0,
  13: 34.0,
  -6: 6.0,
  14: 2.0,
  -15: 76.0,
  15: 54.0,
  -16: 76.0,
  16: 54.0,
  8: 26.0,
  -3: 24.0,
  12: 6.0,
  -13: 12.0,
  -12: 18.0,
  -18: 20.0,
  4: 28.0,
  -2: 14.0,
  17: 4.0,
  11: 2.0,
  7: 6.0,
  6: 2.0,
  -17: 4.0,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Hawa Komara',): {None: 8.0,
  -1: nan,
  1: nan,
  -5: 4.0,
  'poss': 114.0,
  5: 18.0,
  -4: 16.0,
  -8: 12.0,
  -7: 4.0,
  3: 20.0,
  -9: 24.0,
  -10: 36.0,
  10: 36.0,
  18: 12.0,
  -19: nan,
  9: 30.0,
  13: 4.0,
  -6: 2.0,
  14: nan,
  -15: 34.0,
  15: 48.0,
  -16: 34.0,
  16: 48.0,
  8: 4.0,
  -3: 26.0,
  12: 8.0,
  -13: 18.0,
  -12: 2.0,
  -18: 8.0,
  4: 6.0,
  -2: nan,
  17: 4.0,
  11: nan,
  7: 14.0,
  6: 4.0,
  -17: nan,
  19: 2.0,
  -11: nan,
  2: 4.0,
  -14: 2.0},
 ('Ines Debroise',): {None: 6.0,
  -1: nan,
  1: nan,
  -5: 10.0,
  'poss': 140.0,
  5: 28.0,
  -4: 10.0,
  -8: 16.0,
  -7: 4.0,
  3: 14.0,
  -9: 24.0,
  -10: 50.0,
  10: 50.0,
  18: 20.0,
  -19: nan,
  9: 24.0,
  13: 6.0,
  -6: nan,
  14: nan,
  -15: 42.0,
  15: 54.0,
  -16: 42.0,
  16: 54.0,
  8: 6.0,
  -3: 30.0,
  12: 16.0,
  -13: 28.0,
  -12: 4.0,
  -18: 14.0,
  4: 10.0,
  -2: nan,
  17: 4.0,
  11: nan,
  7: 14.0,
  6: 4.0,
  -17: 4.0,
  19: 6.0,
  -11: nan,
  2: 6.0,
  -14: 2.0},
 ('Sophia Vital',): {None: 10.0,
  -1: nan,
  1: nan,
  -5: 8.0,
  'poss': 94.0,
  5: 18.0,
  -4: 6.0,
  -8: 8.0,
  -7: 6.0,
  3: 6.0,
  -9: 14.0,
  -10: 40.0,
  10: 40.0,
  18: 20.0,
  -19: 2.0,
  9: 18.0,
  13: 6.0,
  -6: 2.0,
  14: nan,
  -15: 24.0,
  15: 36.0,
  -16: 24.0,
  16: 36.0,
  8: 6.0,
  -3: 18.0,
  12: 8.0,
  -13: 12.0,
  -12: 2.0,
  -18: 8.0,
  4: 8.0,
  -2: nan,
  17: 2.0,
  11: nan,
  7: 10.0,
  6: 2.0,
  -17: 4.0,
  19: 4.0,
  -11: 2.0,
  2: 2.0,
  -14: nan},
 ('Anaelle Dutat',): {None: 10.0,
  -1: nan,
  1: nan,
  -5: 10.0,
  'poss': 122.0,
  5: 22.0,
  -4: 12.0,
  -8: 12.0,
  -7: 6.0,
  3: 6.0,
  -9: 16.0,
  -10: 50.0,
  10: 50.0,
  18: 24.0,
  -19: 2.0,
  9: 24.0,
  13: 8.0,
  -6: 2.0,
  14: nan,
  -15: 38.0,
  15: 52.0,
  -16: 38.0,
  16: 52.0,
  8: 8.0,
  -3: 22.0,
  12: 10.0,
  -13: 16.0,
  -12: 2.0,
  -18: 12.0,
  4: 12.0,
  -2: nan,
  17: 2.0,
  11: nan,
  7: 16.0,
  6: 4.0,
  -17: 6.0,
  19: 4.0,
  -11: 2.0,
  2: 2.0,
  -14: nan},
 ('Nalyce Dudley',): {None: 6.0,
  -1: nan,
  1: nan,
  -5: 6.0,
  'poss': 28.0,
  5: nan,
  -4: 2.0,
  -8: 2.0,
  -7: 2.0,
  3: 8.0,
  -9: 8.0,
  -10: 14.0,
  10: 14.0,
  18: nan,
  -19: 2.0,
  9: 2.0,
  13: 4.0,
  -6: nan,
  14: nan,
  -15: 16.0,
  15: 14.0,
  -16: 16.0,
  16: 14.0,
  8: 8.0,
  -3: nan,
  12: 2.0,
  -13: 4.0,
  -12: 4.0,
  -18: 8.0,
  4: 6.0,
  -2: 6.0,
  17: 2.0,
  11: nan,
  7: nan,
  6: nan,
  -17: nan,
  19: 2.0,
  -11: nan,
  2: nan,
  -14: nan},
 ('Emma Kirby',): {None: 10.0,
  -1: nan,
  1: nan,
  -5: 24.0,
  'poss': 116.0,
  5: 10.0,
  -4: 8.0,
  -8: 8.0,
  -7: 18.0,
  3: 12.0,
  -9: 18.0,
  -10: 38.0,
  10: 38.0,
  18: 12.0,
  -19: 6.0,
  9: 14.0,
  13: 14.0,
  -6: 6.0,
  14: nan,
  -15: 32.0,
  15: 20.0,
  -16: 32.0,
  16: 20.0,
  8: 10.0,
  -3: 8.0,
  12: 2.0,
  -13: 4.0,
  -12: 12.0,
  -18: 26.0,
  4: 14.0,
  -2: 8.0,
  17: 8.0,
  11: nan,
  7: 8.0,
  6: 4.0,
  -17: 2.0,
  19: 2.0,
  -11: nan,
  2: nan,
  -14: nan},
 ('Faith Pappas',): {None: 12.0,
  -1: nan,
  1: nan,
  -5: 14.0,
  'poss': 86.0,
  5: 8.0,
  -4: 8.0,
  -8: 8.0,
  -7: 16.0,
  3: 6.0,
  -9: 14.0,
  -10: 36.0,
  10: 36.0,
  18: 8.0,
  -19: nan,
  9: 12.0,
  13: 12.0,
  -6: 6.0,
  14: 2.0,
  -15: 24.0,
  15: 28.0,
  -16: 24.0,
  16: 28.0,
  8: 2.0,
  -3: 12.0,
  12: nan,
  -13: nan,
  -12: 10.0,
  -18: 18.0,
  4: 8.0,
  -2: nan,
  17: 6.0,
  11: nan,
  7: 4.0,
  6: 2.0,
  -17: 4.0,
  19: 2.0,
  -11: nan,
  2: nan,
  -14: nan},
 ('Thai Davis',): {None: 6.0,
  -1: nan,
  1: nan,
  -5: 6.0,
  'poss': 52.0,
  5: 8.0,
  -4: 6.0,
  -8: 6.0,
  -7: 8.0,
  3: 2.0,
  -9: 8.0,
  -10: 26.0,
  10: 26.0,
  18: 4.0,
  -19: nan,
  9: 4.0,
  13: 4.0,
  -6: 4.0,
  14: nan,
  -15: 20.0,
  15: 16.0,
  -16: 20.0,
  16: 16.0,
  8: nan,
  -3: 2.0,
  12: nan,
  -13: nan,
  -12: 2.0,
  -18: 20.0,
  4: 4.0,
  -2: nan,
  17: 6.0,
  11: nan,
  7: 4.0,
  6: 2.0,
  -17: 2.0,
  19: 2.0,
  -11: nan,
  2: nan,
  -14: nan},
 ('Eva DeChent',): {None: 8.0,
  -1: nan,
  1: nan,
  -5: 6.0,
  'poss': 62.0,
  5: 14.0,
  -4: 4.0,
  -8: 2.0,
  -7: 2.0,
  3: 2.0,
  -9: 6.0,
  -10: 28.0,
  10: 28.0,
  18: 16.0,
  -19: 2.0,
  9: 8.0,
  13: nan,
  -6: 2.0,
  14: nan,
  -15: 8.0,
  15: 20.0,
  -16: 8.0,
  16: 20.0,
  8: 6.0,
  -3: 4.0,
  12: 4.0,
  -13: 6.0,
  -12: nan,
  -18: 10.0,
  4: 6.0,
  -2: nan,
  17: nan,
  11: nan,
  7: 12.0,
  6: 4.0,
  -17: 8.0,
  19: 4.0,
  -11: nan,
  2: 2.0,
  -14: nan},
 ('Afia Owusu-Mensah',): {None: 10.0,
  -1: nan,
  1: nan,
  -5: 10.0,
  'poss': 62.0,
  5: 6.0,
  -4: 8.0,
  -8: 6.0,
  -7: 12.0,
  3: 2.0,
  -9: 10.0,
  -10: 20.0,
  10: 20.0,
  18: 8.0,
  -19: nan,
  9: 10.0,
  13: 6.0,
  -6: 2.0,
  14: nan,
  -15: 14.0,
  15: 12.0,
  -16: 14.0,
  16: 12.0,
  8: nan,
  -3: 10.0,
  12: nan,
  -13: nan,
  -12: 4.0,
  -18: 14.0,
  4: 6.0,
  -2: nan,
  17: 6.0,
  11: nan,
  7: 2.0,
  6: 2.0,
  -17: 2.0,
  19: 2.0,
  -11: nan,
  2: nan,
  -14: nan},
 ('Sophie Sene',): {None: 6.0,
  -1: nan,
  1: nan,
  -5: 4.0,
  'poss': 26.0,
  5: 4.0,
  -4: nan,
  -8: nan,
  -7: 2.0,
  3: 2.0,
  -9: 2.0,
  -10: 12.0,
  10: 12.0,
  18: 12.0,
  -19: 2.0,
  9: 4.0,
  13: nan,
  -6: 2.0,
  14: nan,
  -15: 4.0,
  15: 6.0,
  -16: 4.0,
  16: 6.0,
  8: 2.0,
  -3: 2.0,
  12: nan,
  -13: nan,
  -12: nan,
  -18: 2.0,
  4: 2.0,
  -2: nan,
  17: nan,
  11: nan,
  7: 4.0,
  6: nan,
  -17: 4.0,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Katie Ledden',): {None: 6.0,
  -1: nan,
  1: nan,
  -5: 4.0,
  'poss': 26.0,
  5: 4.0,
  -4: nan,
  -8: nan,
  -7: 2.0,
  3: 2.0,
  -9: 2.0,
  -10: 12.0,
  10: 12.0,
  18: 12.0,
  -19: 2.0,
  9: 4.0,
  13: nan,
  -6: 2.0,
  14: nan,
  -15: 4.0,
  15: 6.0,
  -16: 4.0,
  16: 6.0,
  8: 2.0,
  -3: 2.0,
  12: nan,
  -13: nan,
  -12: nan,
  -18: 2.0,
  4: 2.0,
  -2: nan,
  17: nan,
  11: nan,
  7: 4.0,
  6: nan,
  -17: 4.0,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan},
 ('Montana Hicks',): {None: 4.0,
  -1: nan,
  1: nan,
  -5: 2.0,
  'poss': 20.0,
  5: 4.0,
  -4: 2.0,
  -8: 2.0,
  -7: 4.0,
  3: 2.0,
  -9: 2.0,
  -10: 6.0,
  10: 6.0,
  18: 2.0,
  -19: nan,
  9: 2.0,
  13: nan,
  -6: nan,
  14: nan,
  -15: nan,
  15: 2.0,
  -16: nan,
  16: 2.0,
  8: nan,
  -3: 2.0,
  12: nan,
  -13: nan,
  -12: nan,
  -18: 8.0,
  4: nan,
  -2: nan,
  17: 2.0,
  11: nan,
  7: 2.0,
  6: 2.0,
  -17: nan,
  19: nan,
  -11: nan,
  2: nan,
  -14: nan}}

In [426]:
m['g']['poss'] += 2

In [428]:
m[('Sajada Bonner',)]['pp'] +=1

KeyError: 'pp'

In [327]:
g.boxScore['561051']

,#,Name,P,MP,GS,FGM,FGA,3FG,3FGA,FT,...,ORebs,DRebs,Tot Reb,AST,TO,STL,BLK,PF,DQ,Tech Fouls
0,23.0,Sajada Bonner,G,17:17,1,0,2,0,1,5,...,1,1,2,0,2,1,0,0,0,0
1,22.0,Ciara Brannon,F,9:24,0,0,1,0,0,0,...,1,0,1,0,2,0,0,5,1,0
2,2.0,Thai Davis,G,8:00,0,2,2,0,0,0,...,0,0,0,1,1,0,0,1,0,0
3,4.0,Nalyce Dudley,F,4:21,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,24.0,Sierra Johnson,G,22:43,1,1,5,0,1,1,...,2,2,4,1,4,0,0,1,0,0
5,15.0,Emma Kirby,C,16:29,0,1,3,0,0,1,...,2,0,2,0,2,1,0,0,0,0
6,0.0,Montana Nicks,G,2:45,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,10.0,Afia Owusu-Mensah,G,8:07,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,5.0,Faith Pappas,G,12:22,0,1,2,1,2,0,...,0,0,0,0,0,0,0,0,0,0
9,1.0,Ny'Ceara Pryor,G,26:59,1,3,14,0,5,5,...,0,3,3,0,1,0,0,3,0,0
10,30.0,Olivia Tucker,G,28:37,1,2,10,0,4,0,...,1,1,2,0,3,0,0,2,0,0
11,34.0,Kelsey Wood,F,14:08,1,0,0,0,0,0,...,1,5,6,1,2,0,0,5,1,0
12,3.0,Amelia Wood,G,28:49,0,2,12,1,5,2,...,2,9,11,1,4,1,0,2,0,0
13,NaN,TEAM,NaN,0,0,0,0,0,0,0,...,4,2,6,0,1,0,0,0,0,0
14,NaN,Sacred Heart,NaN,200:00,1,12,52,2,18,14,...,14,23,37,4,22,3,0,21,2,0

In [16]:
from game import Game
from team import Team
from utility import headers

import os.path
import datetime
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm
from collections import defaultdict
from itertools import combinations

season = 2025
seasonStartDate = datetime.date(2023, 11, 7)
base_schedule = "https://stats.ncaa.org/season_divisions/18220/livestream_scoreboards?utf8=%E2%9C%93&season_division_id="

d1Teams = pd.read_csv("./Data/ncaa_synergy_id_names_map_2023_2024.csv").ncaaName.tolist()

allGames = pd.read_csv(f"games_{season-1}_{season}.csv", parse_dates=['date'])
#allGames['date'] = allGames['date'].dt.date

allPbp = pd.read_csv(f"pbp_{season-1}_{season}.csv")

class Day():
    def __init__(self, date, playerPossStats, teamEffDict, teamRebDict):
        self.processSchedule(date)
        self.loadGames()
        self.loadBoxScores()
        self.proccessPBP(playerPossStats)
        self.adjustRatings(teamEffDict, teamRebDict)

    def processSchedule(self, date):
        r = requests.get(base_schedule + f"&game_date={date.month}%2F{date.day}%2F{date.year}", headers=headers)
        
        if r.status_code != 200:
            raise Exception(f"Request for {date} was not successful")
        else:
            soup = BeautifulSoup(r.text)
        teamTags = soup.find_all('td', attrs={'class':'opponents_min_width'})
        gameIds = [tag['href'] for tag in soup.find_all('a', string='Box Score')]
        gameIds = [link.split('/')[2] for link in gameIds]

        cancelledGames = soup.find_all('div',attrs={'class':'table-responsive'})
        cancelledGames = [ix for ix, game in enumerate(cancelledGames) if 'Canceled' in game.text]

        names1 = []
        names2 = []
        ids1 = []
        ids2 = []

        for i, tag in enumerate(teamTags):
            name = tag.text.strip()
            
            
            if len(tag.contents) > 1:
                teamid = tag.contents[1]['href']
                teamid = teamid.split('/')[-1]
                name = "(".join(name.split(' (')[:-1]) # Get rid of record attached to team name
            else:
                teamid = None
            
            if i % 2 == 0:
                names1.append(name)
                ids1.append(teamid)
            else:
                names2.append(name)
                ids2.append(teamid)

        for cancelled in cancelledGames:
            names1.pop(cancelled)
            ids1.pop(cancelled)
            names2.pop(cancelled)
            ids2.pop(cancelled)
        
        schedule = pd.DataFrame({'teamName1':names1, 'teamId1':ids1, 'teamName2':names2, 'teamId2':ids2, 'gameId': gameIds})
        schedule['date'] = date

        self.schedule = schedule

    def loadGames(self):
        self.games = []
        for row in tqdm(self.schedule.itertuples()):
            if row.teamName1 in d1Teams and row.teamName2 in d1Teams:
                self.games.append(Game(row.gameId, source='web'))
            
    def loadBoxScores(self):
        playerBoxScores = pd.DataFrame()
        for game in tqdm(self.games):
            for teamid, box in game.boxScore.items():
                stats = box.iloc[:-2].copy()
                stats['teamId'] = teamid
                stats['opponentId'] = [team for team in game.teams if team != teamid][0]
                stats['gameId'] = game.gameId
                playerBoxScores = pd.concat([playerBoxScores, stats])
        playerBoxScores.reset_index(drop=True)
        self.playerBox = playerBoxScores

        teamBoxScores = pd.DataFrame()
        for game in tqdm(self.games):
            for teamid, box in game.boxScore.items():
                stats = box.iloc[-1].copy()
                stats['teamId'] = teamid
                stats['opponentId'] = [team for team in game.teams if team != teamid][0]
                stats['gameId'] = game.gameId
                teamBoxScores = pd.concat([teamBoxScores, stats.to_frame().T])
        #teamBoxScores = teamBoxScores.drop(columns=['#', 'P'])
        teamBoxScores = teamBoxScores.reset_index(drop=True)
        self.teamBox = teamBoxScores

    def proccessPBP(self, playerDict):
        teamPossessions = {}

        for game in tqdm(self.games):
            
            ends = np.where([item.isPossessionEnding for item in game.pbp.items])[0]+1
            possessions = np.split(game.pbp.items,ends)
            global poss
            for poss in possessions:
                # Event occurances for each team during the possession
                possStats = {team:[e.eventType if e.team==team else -1*e.eventType if e.team else None for e in poss] for team in game.teams}
                if any([ any(events) for events in possStats.values() ]):
                    for team in game.teams:
                        # Count the number of occurances for each event type while lineups where on the floor
                        for lineup in list(combinations(poss[-1].currentLineups[team],1)):
                            for pt in possStats[team]:
                                if pt and not np.isnan(pt):
                                    playerDict[lineup[0]][pt] += 1
                            playerDict[lineup[0]]['poss'] += 0.5
            
            for team in game.teams:
                teamPossessions[team] = sum([ any(e.team for e in poss) for poss in possessions ]) / 2
        self.teamPossessions = pd.DataFrame(teamPossessions.items(), columns=['teamId', 'possessions'])
        self.playerData = pd.DataFrame(dict(playerDict)).T

    def adjustRatings(self, effDict, rebDict):

        for game in tqdm(self.games):
            
            teams = game.teams

            points = [game.boxScore[team].PTS.iloc[-1] for team in teams]
            aprox_poss = [game.boxScore[team].FGA.iloc[-1] + game.boxScore[team].TO.iloc[-1]
                        + .46 * game.boxScore[team].FTA.iloc[-1] - game.boxScore[team].ORebs.iloc[-1] for team in game.teams]
            possessions = [(aprox_poss[0] + aprox_poss[1])/2]*2
            print
            self.adjustEff(list(map(int, teams)), points, possessions, effDict)

            rebs = [game.boxScore[team].ORebs.iloc[-1] for team in teams]
            chances = [game.boxScore[team].FGA.iloc[-1] - game.boxScore[team].FGM.iloc[-1] for team in game.teams]
            self.adjustReb(list(map(int, teams)), rebs, chances, rebDict)
    
    @staticmethod
    def adjustEff(teams: list, points: list, possessions: list, teams_dict, nationalAverage=0.92, tol=0.0001):
        poss1 = teams_dict[teams[0]]['poss']
        poss2 = teams_dict[teams[1]]['poss']

        weighted_off1 = teams_dict[teams[0]]['rating'][0] * (poss1[0] / (poss1[0] + possessions[0]))
        weighted_def2 = teams_dict[teams[1]]['rating'][1] * (poss2[1] / (poss2[1] + possessions[0]))

        weighted_def1 = teams_dict[teams[0]]['rating'][1] * (poss1[1] / (poss1[1] + possessions[1]))
        weighted_off2 = teams_dict[teams[1]]['rating'][0] * (poss2[0] / (poss2[0] + possessions[1]))

        new_d = teams_dict[teams[1]]['rating'][1]
        new_o = teams_dict[teams[0]]['rating'][0] # for first iteration

        # if it is a team's first game
        if poss1[0] == 0 or poss2[1] == 0:
            new_o, new_d = ((points[0] / possessions[0]) / new_d)*nationalAverage * (possessions[0] / (poss1[0] + possessions[0])) + weighted_off1, \
                            ((points[0] / possessions[0]) / new_o)*nationalAverage * (possessions[0] / (poss2[1] + possessions[0])) + weighted_def2
        else:    
            while True:
                old_o = new_o
                new_o = ((points[0] / possessions[0]) / new_d)*nationalAverage * (possessions[0] / (poss1[0] + possessions[0])) + weighted_off1
                
                new_d = ((points[0] / possessions[0]) / new_o)*nationalAverage * (possessions[0] / (poss2[1] + possessions[0])) + weighted_def2

                if abs(new_o - old_o) < tol:
                    break
        teams_dict[teams[0]]['rating'][0] = new_o
        teams_dict[teams[0]]['poss'][0] += possessions[0]
        teams_dict[teams[1]]['rating'][1] = new_d
        teams_dict[teams[1]]['poss'][1] += possessions[0]
        
        new_d = teams_dict[teams[0]]['rating'][1]
        new_o = teams_dict[teams[1]]['rating'][0] # for first iteration
        
        # if it is a team's first game
        if poss2[0] == 0 or poss1[1] == 0:
            new_o, new_d = ((points[1] / possessions[1]) / new_d)*nationalAverage * (possessions[1] / (poss2[0] + possessions[1])) + weighted_off2, \
                        ((points[1] / possessions[1]) / new_o)*nationalAverage * (possessions[1] / (poss1[1] + possessions[1])) + weighted_def1
        else: 
            while True:
                old_o = new_o
                new_o = ((points[1] / possessions[1]) / new_d)*nationalAverage * (possessions[1] / (poss2[0] + possessions[1])) + weighted_off2

                new_d = ((points[1] / possessions[1]) / new_o)*nationalAverage * (possessions[1] / (poss1[1] + possessions[1])) + weighted_def1
                
                if abs(new_o - old_o) < tol:
                    break
        teams_dict[teams[1]]['rating'][0] = new_o
        teams_dict[teams[1]]['poss'][0] += possessions[1]
        teams_dict[teams[0]]['rating'][1] = new_d
        teams_dict[teams[0]]['poss'][1] += possessions[1]

    @staticmethod
    def adjustReb(teams: list, rebounds: list, possessions: list, reb_dict, nationalAverage=0.30, tol=0.0001):
        poss1 = reb_dict[teams[0]]['poss']
        poss2 = reb_dict[teams[1]]['poss']

        weighted_off1 = reb_dict[teams[0]]['rating'][0] * (poss1[0] / (poss1[0] + possessions[0]))
        weighted_def2 = reb_dict[teams[1]]['rating'][1] * (poss2[1] / (poss2[1] + possessions[0]))

        weighted_def1 = reb_dict[teams[0]]['rating'][1] * (poss1[1] / (poss1[1] + possessions[1]))
        weighted_off2 = reb_dict[teams[1]]['rating'][0] * (poss2[0] / (poss2[0] + possessions[1]))

        new_d = reb_dict[teams[1]]['rating'][1]
        new_o = reb_dict[teams[0]]['rating'][0] # for first iteration

        # if it is a team's first game
        if poss1[0] == 0 or poss2[1] == 0:
            new_o, new_d = ((rebounds[0] / possessions[0]) / new_d)*nationalAverage * (possessions[0] / (poss1[0] + possessions[0])) + weighted_off1, \
                            ((rebounds[0] / possessions[0]) / new_o)*nationalAverage * (possessions[0] / (poss2[1] + possessions[0])) + weighted_def2
        else:    
            while True:
                old_o = new_o
                new_o = ((rebounds[0] / possessions[0]) / new_d)*nationalAverage * (possessions[0] / (poss1[0] + possessions[0])) + weighted_off1
                
                new_d = ((rebounds[0] / possessions[0]) / new_o)*nationalAverage * (possessions[0] / (poss2[1] + possessions[0])) + weighted_def2

                if abs(new_o - old_o) < tol:
                    break
        reb_dict[teams[0]]['rating'][0] = new_o
        reb_dict[teams[0]]['poss'][0] += possessions[0]
        reb_dict[teams[1]]['rating'][1] = new_d
        reb_dict[teams[1]]['poss'][1] += possessions[0]
        
        new_d = reb_dict[teams[0]]['rating'][1]
        new_o = reb_dict[teams[1]]['rating'][0] # for first iteration
        
        # if it is a team's first game
        if poss2[0] == 0 or poss1[1] == 0:
            new_o, new_d = ((rebounds[1] / possessions[1]) / new_d)*nationalAverage * (possessions[1] / (poss2[0] + possessions[1])) + weighted_off2, \
                        ((rebounds[1] / possessions[1]) / new_o)*nationalAverage * (possessions[1] / (poss1[1] + possessions[1])) + weighted_def1
        else: 
            while True:
                old_o = new_o
                new_o = ((rebounds[1] / possessions[1]) / new_d)*nationalAverage * (possessions[1] / (poss2[0] + possessions[1])) + weighted_off2

                new_d = ((rebounds[1] / possessions[1]) / new_o)*nationalAverage * (possessions[1] / (poss1[1] + possessions[1])) + weighted_def1
                
                if abs(new_o - old_o) < tol:
                    break
        reb_dict[teams[1]]['rating'][0] = new_o
        reb_dict[teams[1]]['poss'][0] += possessions[1]
        reb_dict[teams[0]]['rating'][1] = new_d
        reb_dict[teams[0]]['poss'][1] += possessions[1]

today = datetime.date(2023, 11, 8)#datetime.date.today()
dateList = [seasonStartDate + datetime.timedelta(days=x) for x in range( (today - seasonStartDate).days +1 )]
dateList = [d for d in dateList if d not in allGames.date.unique()]


for date in dateList:
    print(date)

    teamBox = pd.read_csv("team_box_scores_2024_2025.csv")
    playerBox = pd.read_csv("player_box_scores_2024_2025.csv")
    playerPossessionData = pd.read_csv("player_possession_stats_2024_2025.csv", index_col=0)
    adjustedEfficiency = pd.read_csv("adjusted_efficiency_2024_2025.csv")
    adjustedRebounding = pd.read_csv("adjusted_rebounding_2024_2025.csv")

    #playerPossessionData.rename(columns={playerPossessionData.columns[0]:None})
    playerPossessionData.columns = ['poss'] + list(map(int, playerPossessionData.columns[1:]))
    playerPossDict = defaultdict(lambda: defaultdict(int), playerPossessionData.T.to_dict())
    adjEffDict = {team['teamId']:{'rating':[team['adjOff'],team['adjDef']], 'poss':[team['possOff'],team['possDef']]} 
                  for team in adjustedEfficiency.to_dict(orient='records')}
    adjRebDict = {team['teamId']:{'rating':[team['adjOffReb'],team['adjDefReb']], 'poss':[team['chancesOff'],team['chancesDef']]} 
                  for team in adjustedRebounding.to_dict(orient='records')}

    todaysGames = Day(date, playerPossDict, adjEffDict, adjRebDict)

    teamBox = pd.concat([teamBox, todaysGames.teamBox])
    playerBox = pd.concat([playerBox, todaysGames.playerBox])
    playerPossessionData = pd.DataFrame(dict(playerPossDict)).T
    playerPossessionData = playerPossessionData[[ 'poss', 1,   -1,   2,  -2,   3,   -3,   4,  -4,   5,   -5,   6,  -6,   7,  -7,
         8,  -8,   9,  -9,  10,  -10,  11, -11,  12,  -12,  13, -13,  14,  -14,
        15,  -15,  16,  -16,  17, -17,  18, -18, 19, -19]]

    adjustedEfficiency = pd.DataFrame(adjEffDict)
    adjustedEfficiency = adjustedEfficiency.explode(adjustedEfficiency.columns.tolist()).T
    adjustedEfficiency.reset_index(inplace=True)
    adjustedEfficiency.columns = ['teamId','adjOff','adjDef','possOff','possDef']
    adjustedRebounding = pd.DataFrame(adjRebDict)
    adjustedRebounding = adjustedRebounding.explode(adjustedRebounding.columns.tolist()).T
    adjustedRebounding.reset_index(inplace=True)
    adjustedRebounding.columns = ['teamId','adjOffReb','adjDefReb','chancesOff','chancesDef']

    teamBox.to_csv("team_box_scores_2024_2025.csv", index=False)
    playerBox.to_csv("player_box_scores_2024_2025.csv", index=False)
    playerPossessionData.to_csv("player_possession_stats_2024_2025.csv", index=True)
    adjustedEfficiency.to_csv("adjusted_efficiency_2024_2025.csv", index=False)
    adjustedRebounding.to_csv("adjusted_rebounding_2024_2025.csv", index=False)

    allGames = pd.concat([allGames, todaysGames.schedule])
    dfs = []
    for game in todaysGames.games:
        items = [list(event.data.values())[:5] + [ str(a[i]) for a in event.currentLineups.items() for i in range(2)] + [game.gameId] for event in game.pbp.items]
        (a,b), (c,d) = game.pbp.items[0].currentLineups.items()
        gameDf = pd.DataFrame(items, columns=['description', 'team', 'time', 'quarter', 'eventType', 'team1', 'lineup1', 'team2', 'lineup2', 'gameID'])
        dfs.append(gameDf)
    allPbp = pd.concat([allPbp] + dfs)
    

allGames.to_csv("games_2024_2025.csv", index=False)
allPbp.to_csv("pbp_2024_2025.csv", index=False)

2023-11-07

30it [01:29,  3.00s/it]
100%|██████████| 25/25 [00:00<00:00, 171.64it/s]
100%|██████████| 25/25 [00:00<00:00, 45.10it/s]
100%|██████████| 25/25 [00:25<00:00,  1.03s/it]
100%|██████████| 25/25 [00:00<00:00, 269.16it/s]
C:\Users\cfinl\AppData\Local\Temp\ipykernel_24764\1164293474.py:285: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  playerBox = pd.concat([playerBox, todaysGames.playerBox])

2023-11-08

29it [01:09,  2.41s/it]
100%|██████████| 20/20 [00:00<00:00, 164.28it/s]
100%|██████████| 20/20 [00:00<00:00, 46.94it/s]
100%|██████████| 20/20 [00:19<00:00,  1.01it/s]
100%|██████████| 20/20 [00:00<00:00, 256.82it/s]

In [14]:
todaysGames.schedule

Empty DataFrame
Columns: [teamName1, teamId1, teamName2, teamId2, gameId, date]
Index: []

In [10]:
playerPossessionData

Empty DataFrame
Columns: []
Index: []

In [591]:
requests.get("https://stats.ncaa.org/season_divisions/1423/livestream_scoreboards?utf8=%E2%9C%93&season_division_id=")

<DatetimeArray>
['2023-11-06 00:00:00']
Length: 1, dtype: datetime64[ns]

In [523]:
allGames

Empty DataFrame
Columns: [teamName1, teamId1, teamName2, teamId2, gameId, date]
Index: []

In [522]:
todaysGames.schedule

              teamName1 teamId1         teamName2 teamId2   gameId        date
0           New Orleans  560950      Oklahoma St.  560997  3970364  2023-11-07
1          Presbyterian  561252       Wichita St.  561219  3970358  2023-11-07
2          LIFE Pacific    None      UC San Diego  560566  3970464  2023-11-07
3           Norfolk St.  560957            Drexel  560722  3970359  2023-11-07
4                 Allen  561792      Ga. Southern  560768  3970337  2023-11-07
5       St. Bonaventure  561053           Niagara  560952  3970400  2023-11-07
6                Xavier  561234    Youngstown St.  561237  3970431  2023-11-07
7               Oakland  560991      Michigan St.  560894  3954415  2023-11-07
8                  UMES  560878          Virginia  561198  3970442  2023-11-07
9                Toledo  561161     James Madison  560827  3970444  2023-11-07
10           Gettysburg  562316              UMBC  560874  3970450  2023-11-07
11         Gardner-Webb  561246    North Carolina  560927  3970459  2023-11-07
12             Nicholls  560954            Tulane  561167  3970395  2023-11-07
13               Dayton  560708             UConn  560694  3970461  2023-11-07
14          Susquehanna  562628              Navy  561180  3970419  2023-11-07
15           Texas Col.    None  Lamar University  560841  3970396  2023-11-07
16  Tex. A&M-Kingsville  561624               TCU  561148  3970434  2023-11-07
17     Northwestern St.  560986            Kansas  560831  3970433  2023-11-07
18                  LIU  560846         Minnesota  560900  3954236  2023-11-07
19             Le Moyne  561728          Colorado  560690  3970428  2023-11-07
20          Southern U.  561111             Texas  561155  3970437  2023-11-07
21        St. Mary (NE)    None             Omaha  560936  3970473  2023-11-07
22        Eastern Wash.  560741     Southern Utah  561114  3970361  2023-11-07
23                Biola  561537    Long Beach St.  560648  3970365  2023-11-07
24             Cal Poly  560640             Idaho  560801  3970403  2023-11-07
25            Park (AZ)    None         Idaho St.  560799  3970362  2023-11-07
26      Ark.-Pine Bluff  561256            Oregon  561007  3970430  2023-11-07
27          Santa Clara  561076        California  560656  3970469  2023-11-07
28               Hawaii  560786          Stanford  561123  3970455  2023-11-07

In [514]:
playerPossessionData = pd.read_csv("player_possession_stats_2024_2025.csv", index_col=0)
playerPossessionData.columns = ['poss'] + map(int, playerPossessionData.columns[1:]

Index(['poss', '1', '-1', '2', '-2', '3', '-3', '4', '-4', '5', '-5', '6',
       '-6', '7', '-7', '8', '-8', '9', '-9', '10', '-10', '11', '-11', '12',
       '-12', '13', '-13', '14', '-14', '15', '-15', '16', '-16', '17', '-17',
       '18', '-18'],
      dtype='object')

In [516]:
['poss'] + list(map(int, playerPossessionData.columns[1:]))

['poss',
 1,
 -1,
 2,
 -2,
 3,
 -3,
 4,
 -4,
 5,
 -5,
 6,
 -6,
 7,
 -7,
 8,
 -8,
 9,
 -9,
 10,
 -10,
 11,
 -11,
 12,
 -12,
 13,
 -13,
 14,
 -14,
 15,
 -15,
 16,
 -16,
 17,
 -17,
 18,
 -18]

In [506]:
adjustedEfficiency.teamId

0      561087
1      560694
2      560818
3      561123
4      561155
        ...
355    560580
356    561246
357    561057
358    560675
359    561085
Name: teamId, Length: 360, dtype: int64

In [503]:
adjEffDict.keys()

dict_keys([561087, 560694, 560818, 561123, 561155, 561183, 560661, 560993, 560811, 560962, 561101, 561196, 560850, 560990, 561005, 560776, 560894, 560829, 560724, 560701, 560611, 560690, 561209, 561013, 560854, 561142, 560934, 561203, 560927, 560906, 560876, 560816, 560999, 561132, 560582, 560805, 560754, 561027, 561191, 560831, 560902, 561146, 560595, 560870, 561205, 560938, 561148, 560896, 560603, 560997, 560890, 561079, 560656, 561060, 560898, 561198, 560692, 561058, 561187, 561225, 561193, 560762, 561043, 560757, 561151, 560771, 561089, 560619, 560599, 561039, 560706, 560627, 560766, 560679, 561135, 560900, 560720, 560671, 560561, 560907, 560710, 561076, 560745, 561032, 560553, 560794, 560969, 561041, 561161, 560681, 560784, 560741, 561233, 561248, 561173, 560864, 560607, 561201, 561030, 561227, 560638, 561023, 561007, 561048, 560774, 560594, 560688, 560982, 561130, 560677, 560728, 560872, 561095, 560725, 561116, 561189, 561009, 561165, 561062, 560660, 560827, 560821, 560914, 561167, 561107, 560948, 560803, 560570, 560928, 561015, 560835, 560833, 560923, 561019, 560884, 560957, 560841, 561001, 560617, 560987, 561125, 560629, 560965, 560862, 561159, 560759, 560586, 560844, 560812, 561093, 561140, 560764, 561073, 561109, 560912, 560975, 561070, 561003, 560574, 560786, 561215, 560910, 560584, 560807, 560556, 560971, 560722, 560790, 561064, 561120, 561071, 560959, 561081, 560640, 561099, 560852, 560952, 560657, 560592, 560715, 561242, 561163, 560940, 561169, 560686, 560623, 560597, 560636, 561103, 560550, 561175, 560663, 561240, 560644, 561153, 561263, 560860, 561231, 560648, 561051, 561157, 561236, 560549, 560977, 560886, 560753, 561221, 560797, 560946, 560801, 560653, 560930, 560799, 560751, 560605, 561219, 560665, 561237, 561229, 561118, 560615, 560842, 560866, 561256, 560730, 560770, 560880, 560621, 560737, 560684, 560837, 560566, 560668, 560984, 560878, 560734, 560708, 560950, 560568, 560717, 560698, 560768, 561217, 560809, 561114, 560778, 560559, 560547, 560719, 560942, 560630, 560601, 561268, 560954, 560576, 560697, 560991, 561144, 561034, 561053, 560563, 560634, 561254, 560979, 561075, 560645, 560996, 560823, 561068, 561138, 561234, 560732, 561728, 561207, 560921, 560858, 561011, 560590, 560874, 560760, 560572, 561066, 561128, 560973, 561111, 560967, 561257, 560936, 561180, 560825, 560944, 560578, 561250, 560986, 560652, 560554, 560564, 561213, 561083, 560888, 560856, 560916, 560703, 561177, 560642, 560613, 560788, 560960, 560868, 561185, 561017, 560673, 561244, 560670, 561097, 561045, 561037, 560650, 560814, 560588, 561021, 561171, 560625, 560839, 560739, 561046, 560551, 561252, 560748, 560548, 560918, 561025, 560609, 560749, 561181, 561065, 560779, 560743, 561137, 561223, 561105, 560793, 560848, 561149, 561261, 560925, 561211, 561266, 560882, 560932, 560904, 561260, 560713, 561200, 560846, 560580, 561246, 561057, 560675, 561085])

In [493]:
pd.DataFrame({'teamName1':names1, 'teamId1':ids1, 'teamName2':names2, 'teamId2':ids2, 'gameId': gameIds})

               teamName1 teamId1           teamName2 teamId2   gameId
0   Our Lady of the Lake    None                 UIW  560549  3970333
1                    BYU  560627         Montana St.  560912  3970332
2         St. Thomas(TX)  562119  A&M-Corpus Christi  560556  3970334
3               Bucknell  560634            Penn St.  561013  3954316
4          Cleveland St.  560681       Bowling Green  560623  3970327
5           Sacred Heart  561051        Rhode Island  561039  3970328
6                Hofstra  560788                 VCU  561193  3970340
7             Apprentice    None                UNCW  560932  3970336
8            Florida A&M  560749           Tennessee  561142  3970343
9                 Warner    None        Jacksonville  560825  3970344
10              Lipscomb  560559          Evansville  560743  3970338
11          LeMoyne-Owen  561730         Jackson St.  560821  3970329
12     Southeast Mo. St.  561097       Southern Ill.  561103  3970331
13                  Yale  561236          Pittsburgh  561019  3970354
14       Loyola Maryland  560858       West Virginia  561209  3970353
15                 UTRGV  561011          Texas Tech  561151  3970341
16          Morehead St.  560916            Illinois  560805  3954568
17             Lafayette  560839            Syracuse  561132  3970356
18                 Rider  561045      Saint Joseph's  561060  3970355
19         UNC Asheville  560925              Furman  560760  3970330
20                  ETSU  560730            Kentucky  560835  3970345
21             Charlotte  560928            NC State  560962  3970346
22           USC Upstate  560551            Davidson  560706  3970348
23               Cornell  560698             Colgate  560686  3970349
24               Hampton  560779          Providence  561030  3970350
25                  Iona  560814          Seton Hall  561079  3970352
26             Milwaukee  561229           Wisconsin  561227  3954148
27                   ULM  560971            Arkansas  560599  3970351
28             UC Irvine  560660          Pepperdine  561017  3970335
29         San Francisco  561073    UC Santa Barbara  560653  3970347

In [483]:
todaysGames.schedule

  teamName1 teamId1          teamName2 teamId2   gameId        date
0   #1 Iowa  560818  #1 South Carolina  561087  5254219  2023-11-06

In [472]:
{team['teamid']:{'rating':[team['adjOffReb'],team['adjDefReb']], 'poss':[team['chancesOff'],team['chancesDef']]} for team in adjustedEfficiency.to_dict(orient='records')}

KeyError: 'adjOffReb'

In [486]:
adjustedEfficiency.to_dict(orient='records')

[{'teamid': 561087,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560694,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560818,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561123,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561155,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561183,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560661,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560993,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560811,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560962,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561101,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561196,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560850,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560990,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561005,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560776,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560894,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560829,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560724,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560701,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560611,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560690,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561209,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561013,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560854,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561142,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560934,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561203,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560927,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560906,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560876,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560816,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560999,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561132,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560582,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560805,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560754,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561027,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561191,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560831,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560902,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561146,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560595,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560870,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561205,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560938,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561148,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560896,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560603,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560997,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560890,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561079,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560656,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561060,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560898,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561198,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560692,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561058,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561187,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561225,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561193,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560762,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561043,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560757,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561151,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560771,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561089,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560619,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560599,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561039,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560706,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560627,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560766,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560679,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561135,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560900,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560720,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560671,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560561,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560907,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560710,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561076,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560745,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561032,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560553,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560794,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560969,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561041,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561161,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560681,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560784,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560741,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561233,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561248,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561173,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560864,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560607,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561201,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561030,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561227,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560638,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561023,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561007,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561048,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560774,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560594,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560688,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560982,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561130,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560677,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560728,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560872,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561095,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560725,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561116,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561189,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561009,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561165,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561062,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560660,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560827,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560821,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560914,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561167,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561107,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560948,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560803,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560570,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560928,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561015,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560835,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560833,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560923,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561019,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560884,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560957,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560841,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561001,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560617,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560987,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561125,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560629,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560965,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560862,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561159,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560759,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560586,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560844,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560812,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561093,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561140,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560764,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561073,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561109,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560912,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560975,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561070,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561003,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560574,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560786,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561215,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560910,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560584,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560807,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560556,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560971,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560722,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560790,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561064,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561120,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561071,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560959,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561081,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560640,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561099,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560852,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560952,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560657,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560592,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560715,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561242,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561163,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560940,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561169,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560686,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560623,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560597,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560636,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561103,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560550,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561175,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560663,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561240,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560644,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561153,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561263,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560860,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561231,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560648,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561051,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561157,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561236,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560549,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560977,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560886,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560753,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561221,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560797,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560946,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560801,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560653,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560930,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560799,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560751,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560605,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561219,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560665,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561237,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561229,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561118,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560615,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560842,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560866,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 561256,
  'adjOff': 0.92,
  'adjDef': 0.92,
  'possOff': 0,
  'possDef': 0},
 {'teamid': 560730,
  'adjOff': 0.92,
  'adjDef': 0.92,

In [475]:
adjustedEfficiency.to_dict(orient='records')[0]

{'teamid': 561087, 'adjOff': 0.92, 'adjDef': 0.92, 'possOff': 0, 'possDef': 0}

In [463]:
stats.to_frame().T

,#,Name,P,MP,GS,FGM,FGA,3FG,3FGA,FT,...,AST,TO,STL,BLK,PF,DQ,Tech Fouls,teamId,opponentId,gameId
9,NaN,San Francisco,NaN,200:00,1,26,62,10,28,13,...,18,22,10,1,17,0,0,561073,560653,3970347